{
    email imkdw@kakao.com
}

{$DOMAIN} {
    reverse_proxy {
        to api-blue:4000
        to api-green:4000

        health_uri /v1
        health_interval 10s
        health_timeout 5s
        health_status 2xx

        lb_policy first
    }

    encode gzip

    header {
        X-Frame-Options "SAMEORIGIN"
        X-Content-Type-Options "nosniff"
        X-XSS-Protection "1; mode=block"
        Referrer-Policy "strict-origin-when-cross-origin"
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
    }
}
